{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
   {% if gebruiker.role == 1 %}
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profiel Instellingen /</span> Verbonden Apotheken</h4>
   {% else %}
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profiel Instellingen /</span> Verbonden Assistenten</h4>
   {% endif %}
   <div class="row">
      <div class="col-md-12">
         {% include 'includes/user_nav.html' %}
         <div class="card mb-4">
            <div class="card-header position-relative">
               {% if gebruiker.role == 1 %}
               <h5 class="mb-0">Overzicht van de verbonden apotheken</h5>
               {% else %}
               <h5 class="mb-0">Overzicht van de verbonden assistenten</h5>
               {% endif %}
               <!-- Button positioned at the top right of the card-header -->
                <button type="button"
                        class="btn btn-primary position-absolute top-50 end-0 translate-middle-y me-3 add-new-link-between-assistent-and-apotheek"
                        {% if assistent %}data-assistent="{{ assistent.id }}"{% endif %}
                        {% if apotheek %}data-apotheek="{{ apotheek.id }}"{% endif %}>
                    <i class="fas fa-plus"></i>&nbsp;&nbsp;Nieuwe Link
                </button>
            </div>
            <!-- Account -->
            <div class="card-body">
               <table id="tbl_link_assistenten_apotheken" data-edit-link-url="{% url 'edit_link_between_assistent_and_apotheek' user_id=user_id link_id=0 %}" name="tbl_link_assistenten_apotheken" class="table table-hover">
                  <thead>
                     <tr>
                        <th>Assistent</th>
                        <th>Apotheek</th>
                        <th>Contactpersoon</th>
                        <th>Uurtarief Assistent</th>
                        <th>Uurtarief Apotheek</th>
                        <th>Kilometervergoeding</th>
                        <th>Afstand in Km</th>
                        <th>Actief</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    {% for link in links %}
                    <tr data-link-id="{{ link.id }}"
                        data-assistent="{{ link.assistent.user.first_name }} {{ link.assistent.user.last_name }}"
                        data-apotheek="{{ link.apotheek.apotheek_naamBedrijf }}"
                        data-uurtarief-assistent="{{ link.uurtariefAssistent }}"
                        data-uurtarief-apotheek="{{ link.uurtariefApotheek }}"
                        data-kilometervergoeding="{{ link.kilometervergoeding|yesno:'on,off' }}"
                        data-afstand-in-km="{{ link.afstandInKilometers }}">
                        <td align="center">{{ link.assistent.user.first_name }} {{ link.assistent.user.last_name }}</td>
                        <td align="center">{{ link.apotheek.apotheek_naamBedrijf }}</td>
                        <td align="center">{{ link.apotheek.user.first_name }} {{ link.apotheek.user.last_name }}</td>
                        <td align="center">€ {{ link.uurtariefAssistent }}</td>
                        <td align="center">€ {{ link.uurtariefApotheek }}</td>
                        <td align="center">
                            {% if link.kilometervergoeding %}
                            <i class="fas fa-check"></i>
                            {% else %}
                            <i class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        <td align="center">{{ link.afstandInKilometers }}</td>
                        <td align="center">
                            {% if link.actief %}
                            <i class="fas fa-check"></i>
                            {% else %}
                            <i class="fas fa-times"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Edit Modal Structure -->
<div class="modal fade" id="editLinkModal" tabindex="-1" aria-labelledby="editLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLinkModalLabel">Bewerk Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editLinkForm" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="link_id" id="editModalLinkId">

                    <!-- Assuming you use crispy forms, you can render the form fields here -->
                    <div class="mb-3">
                        <label for="id_assistent" class="form-label">Assistent</label>
                        <select class="form-control" id="id_assistent" name="assistent">
                            <option value="">Selecteer Assistent</option>
                            {% for assistent in all_assistents %}
                            <option value="{{ assistent.id }}">{{ assistent.user.first_name }} {{ assistent.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_apotheek" class="form-label">Apotheek</label>
                        <select class="form-control" id="id_apotheek" name="apotheek">
                            <option value="">Selecteer Apotheek</option>
                            {% for apotheek in all_apotheken %}
                            <option value="{{ apotheek.id }}">{{ apotheek.apotheek_naamBedrijf }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_uurtariefAssistent" class="form-label">Uurtarief Assistent</label>
                        <input type="number" class="form-control" id="id_uurtariefAssistent" name="uurtariefAssistent" step="0.01">
                    </div>
                    <div class="mb-3">
                        <label for="id_uurtariefApotheek" class="form-label">Uurtarief Apotheek</label>
                        <input type="number" class="form-control" id="id_uurtariefApotheek" name="uurtariefApotheek" step="0.01">
                    </div>
                    <div class="mb-3">
                        <label for="id_afstandInKilometers" class="form-label">Afstand in Km</label>
                        <input type="number" class="form-control" id="id_afstandInKilometers" name="afstandInKilometers" step="0.01">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="on" id="id_kilometervergoeding" name="kilometervergoeding">
                        <label class="form-check-label" for="id_kilometervergoeding">
                            Kilometervergoeding
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
