{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profiel Instellingen /</span> Overzicht Prestaties</h4>
   <div class="row">
      <div class="col-md-12">
         {% include 'includes/user_nav.html' %}
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van goed te keuren prestaties door assistent</h5>
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if events_status_no_action.exists %}
               <table id="tbl_overzicht_prestaties_apotheek" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in events_status_no_action %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen openstaande aanvragen gevonden</p>
               {% endif %}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van gewerkte dagen nog te accepteren door apotheek</h5>
               <!-- Button positioned at the top right of the card-header -->
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if gewerkte_dagen_te_accepteren_door_apotheek.exists %}
               <table id="tbl_overzicht_gewerkte_dagen_te_accepteren_door_apotheek" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in gewerkte_dagen_te_accepteren_door_apotheek %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen gewerkte dagen gevonden</p>
               {% endif %}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van nog te factureren dagen door assistent</h5>
               <!-- Button positioned at the top right of the card-header -->
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if nog_te_factureren_dagen.exists %}
               <table id="tbl_overzicht_niet_gefactureerde_dagen" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in nog_te_factureren_dagen %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen nog te factureren dagen gevonden</p>
               {% endif %}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van gefactureerde dagen door assistent</h5>
               <!-- Button positioned at the top right of the card-header -->
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if nog_te_factureren_dagen_aan_apotheek.exists %}
               <table id="tbl_overzicht_gewerkte_dagen" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in nog_te_factureren_dagen_aan_apotheek %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen gefactureerde dagen gevonden</p>
               {% endif %}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van gefactureerde dagen aan apotheek</h5>
               <!-- Button positioned at the top right of the card-header -->
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if gefactureerde_dagen_aan_apotheek.exists %}
               <table id="tbl_overzicht_betaalde_dagen" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in gefactureerde_dagen_aan_apotheek %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen gefactureerde dagen gevonden</p>
               {% endif %}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-header position-relative">
               <h5 class="mb-0">Overzicht van betaalde dagen van apotheek</h5>
               <!-- Button positioned at the top right of the card-header -->
            </div>
            <!-- Account -->
            <div class="card-body">
               {% if betaalde_dagen_door_apotheek.exists %}
               <table id="tbl_overzicht_betaalde_dagen_door_apotheek" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                  {% for event in betaalde_dagen_door_apotheek %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen betaalde dagen gevonden</p>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-12">
      {% include 'includes/alerts.html' %}
   </div>
</div>

{% endblock %}