<!-- change_password.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Facturatie /</span> Overzicht Events</h4>
   <div class="row">
      <div class="col-md-12">
         <div class="card mb-4">
            <h5 class="card-header">Goed te keuren events door assistent</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_goed_te_keuren_events_door_assistent_obj %}
               <table id="tbl_goed_te_keuren_events_door_assistent_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_goed_te_keuren_events_door_assistent_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">
                           <span class="badge bg-success" style="cursor: pointer;" onclick="">Goedkeuren</span>
                        </td>
                        <td align="center">
                           <span class="badge bg-danger" style="cursor: pointer;" onclick="">Weigeren</span>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen openstaande goed te keuren events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_goed_te_keuren_events_door_assistent_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_door_assistent=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_door_assistent={{ paginator_goed_te_keuren_events_door_assistent_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_goed_te_keuren_events_door_assistent_obj.paginator.page_range %}
                        {% if paginator_goed_te_keuren_events_door_assistent_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_goed_te_keuren_events_door_assistent_obj.number|add:'-5' and num < paginator_goed_te_keuren_events_door_assistent_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_door_assistent={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_goed_te_keuren_events_door_assistent_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_door_assistent={{ paginator_goed_te_keuren_events_door_assistent_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_door_assistent={{ paginator_goed_te_keuren_events_door_assistent_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Geweigerde events door assistent</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_geweigerde_events_door_assistenten_obj %}
               <table id="tbl_geweigerde_events_door_assistenten_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_geweigerde_events_door_assistenten_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen geweigerde events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_geweigerde_events_door_assistenten_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_assistenten=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_assistenten={{ paginator_geweigerde_events_door_assistenten_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_geweigerde_events_door_assistenten_obj.paginator.page_range %}
                        {% if paginator_geweigerde_events_door_assistenten_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_geweigerde_events_door_assistenten_obj.number|add:'-5' and num < paginator_geweigerde_events_door_assistenten_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_assistenten={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_geweigerde_events_door_assistenten_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_assistenten={{ paginator_geweigerde_events_door_assistenten_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_assistenten={{ paginator_geweigerde_events_door_assistenten_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Goed te keuren events door apotheek</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_goed_te_keuren_events_door_apotheek_obj %}
               <table id="tbl_goed_te_keuren_door_apotheek_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_goed_te_keuren_events_door_apotheek_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                        <td align="center">
                           <span class="badge bg-success" style="cursor: pointer;" onclick="">Goedkeuren</span>
                        </td>
                        <td align="center">
                           <span class="badge bg-danger" style="cursor: pointer;" onclick="">Weigeren</span>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen geweigerde events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_goed_te_keuren_events_door_apotheek_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_events_door_apotheek=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_events_door_apotheek={{ paginator_goed_te_keuren_events_door_apotheek_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_goed_te_keuren_events_door_apotheek_obj.paginator.page_range %}
                        {% if paginator_goed_te_keuren_events_door_apotheek_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_goed_te_keuren_events_door_apotheek_obj.number|add:'-5' and num < paginator_goed_te_keuren_events_door_apotheek_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_events_door_apotheek={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_goed_te_keuren_events_door_apotheek_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_events_door_apotheek={{ paginator_goed_te_keuren_events_door_apotheek_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_goed_te_keuren_events_door_apotheek={{ paginator_goed_te_keuren_events_door_apotheek_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Geweigerde events door apotheek</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_geweigerde_events_door_apotheken_obj %}
               <table id="tbl_geweigerde_events_door_apotheken_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_geweigerde_events_door_apotheken_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen geweigerde events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_geweigerde_events_door_apotheken_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_apotheken=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_apotheken={{ paginator_geweigerde_events_door_apotheken_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_geweigerde_events_door_apotheken_obj.paginator.page_range %}
                        {% if paginator_geweigerde_events_door_apotheken_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_geweigerde_events_door_apotheken_obj.number|add:'-5' and num < paginator_geweigerde_events_door_apotheken_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_apotheken={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_geweigerde_events_door_apotheken_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_apotheken={{ paginator_geweigerde_events_door_apotheken_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_geweigerde_events_door_apotheken={{ paginator_geweigerde_events_door_apotheken_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Nog te factureren events door assistent</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_nog_te_factureren_door_assistent_obj %}
               <table id="tbl_nog_te_factureren_door_assistent_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                        <th class="text-center">Bedrag</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_nog_te_factureren_door_assistent_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                        <td align="center">€ 115</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen nog te factureren gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_nog_te_factureren_door_assistent_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_door_assistent=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_door_assistent={{ paginator_nog_te_factureren_door_assistent_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_nog_te_factureren_door_assistent_obj.paginator.page_range %}
                        {% if paginator_nog_te_factureren_door_assistent_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_nog_te_factureren_door_assistent_obj.number|add:'-5' and num < paginator_nog_te_factureren_door_assistent_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_door_assistent={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_nog_te_factureren_door_assistent_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_door_assistent={{ paginator_nog_te_factureren_door_assistent_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_door_assistent={{ paginator_nog_te_factureren_door_assistent_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Nog te factureren events aan apotheek</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_nog_te_factureren_aan_apotheek_obj %}
               <table id="tbl_nog_te_factureren_aan_apotheek_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                        <th class="text-center">Bedrag</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_nog_te_factureren_aan_apotheek_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                        <td align="center">€ 115</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen nog te factureren events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_nog_te_factureren_aan_apotheek_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_aan_apotheek=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_aan_apotheek={{ paginator_nog_te_factureren_aan_apotheek_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_nog_te_factureren_aan_apotheek_obj.paginator.page_range %}
                        {% if paginator_nog_te_factureren_aan_apotheek_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_nog_te_factureren_aan_apotheek_obj.number|add:'-5' and num < paginator_nog_te_factureren_aan_apotheek_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_aan_apotheek={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_nog_te_factureren_aan_apotheek_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_aan_apotheek={{ paginator_nog_te_factureren_aan_apotheek_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_factureren_aan_apotheek={{ paginator_nog_te_factureren_aan_apotheek_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Nog te betalen events door apotheek</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_nog_te_betalen_door_apotheek_obj %}
               <table id="tbl_nog_te_betalen_door_apotheek_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                        <th class="text-center">Bedrag</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_nog_te_betalen_door_apotheek_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                        <td align="center">€ 115</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen nog te betalen events gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_nog_te_betalen_door_apotheek_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_betalen_door_apotheek=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_betalen_door_apotheek={{ paginator_nog_te_betalen_door_apotheek_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_nog_te_betalen_door_apotheek_obj.paginator.page_range %}
                        {% if paginator_nog_te_betalen_door_apotheek_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_nog_te_betalen_door_apotheek_obj.number|add:'-5' and num < paginator_nog_te_betalen_door_apotheek_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_betalen_door_apotheek={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_nog_te_betalen_door_apotheek_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_nog_te_betalen_door_apotheek={{ paginator_nog_te_betalen_door_apotheek_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_nog_te_betalen_door_apotheek={{ paginator_nog_te_betalen_door_apotheek_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
         <div class="card mb-4">
            <h5 class="card-header">Betaalde events door apotheek</h5>
            <!-- Account -->
            <div class="card-body">
               {% if paginator_betaalde_events_door_apotheek_obj %}
               <table id="tbl_betaalde_events_door_apotheek_obj" class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-center">Datum</th>
                        <th class="text-center">Startuur</th>
                        <th class="text-center">Einduur</th>
                        <th class="text-center">Pauzeduur in minuten</th>
                        <th class="text-center">Naam Assistent</th>
                        <th class="text-center">Naam Apotheek</th>
                        <th class="text-center">Bedrag</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for event in paginator_betaalde_events_door_apotheek_obj %}
                     <tr>
                        <td align="center">{{ event.start_time|date:"d/m/Y" }}</td>
                        <td align="center">{{ event.start_time|time:"H:i" }}</td>
                        <td align="center">{{ event.end_time|time:"H:i" }}</td>
                        <td align="center">{{ event.pauzeduur }}</td>
                        <td align="center">{{ event.assistent.user.first_name }} {{ event.assistent.user.last_name }}</td>
                        <td align="center">{{ event.apotheek.user.first_name }} {{ event.apotheek.user.last_name }}</td>
                        <td align="center">€ 115</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% else %}
               <p align="center">Geen reeds betaalde events door apotheek gevonden</p>
               {% endif %}
               <!-- Pagination Controls -->
               <nav aria-label="Page navigation" class="mt-4">
                  <div class="d-flex justify-content-center">
                     <ul class="pagination">
                        {% if paginator_betaalde_events_door_apotheek_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page_betaalde_events_door_apotheek=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page_betaalde_events_door_apotheek={{ paginator_betaalde_events_door_apotheek_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}
                        {% for num in paginator_betaalde_events_door_apotheek_obj.paginator.page_range %}
                        {% if paginator_betaalde_events_door_apotheek_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > paginator_betaalde_events_door_apotheek_obj.number|add:'-5' and num < paginator_betaalde_events_door_apotheek_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page_betaalde_events_door_apotheek={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if paginator_betaalde_events_door_apotheek_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page_betaalde_events_door_apotheek={{ paginator_betaalde_events_door_apotheek_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page_betaalde_events_door_apotheek={{ paginator_betaalde_events_door_apotheek_obj.paginator.num_pages }}">Last</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <!-- /Account -->
         </div>
      </div>
   </div>
</div>
<!-- / Content -->
<div class="row">
   <div class="col-lg-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
      {% include 'includes/alerts.html' %}
   </div>
</div>
{% endblock %}