{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Overzicht Gebruikers /</span> Assistenten</h4>
   <div class="row">
      <div class="col-md-12">
         <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
               <a class="nav-link active" href="{% url 'overview_assistenten' %}">
                  <i class="fas fa-user"></i>&nbsp;&nbsp; Assistenten
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'overview_apotheken' %}">
                  <i class="fas fa-building"></i>&nbsp;&nbsp; Apotheken
               </a>
            </li>
         </ul>
         <div class="card mb-4">
            <!-- Account -->
            <div class="card-body">
               <table id="tbl_assistenten" name="tbl_assistenten" class="table table-hover">
                  <thead>
                     <tr>
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>Email</th>
                        <th>Telefoonnummer</th>
                        <th>Status</th>
                        <th>Bewerken</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                     {% for assistent in assistenten %}
                     <tr>
                        <td>{{ assistent.user.first_name }}</td>
                        <td>{{ assistent.user.last_name }}</td>
                        <td>{{ assistent.user.email }}</td>
                        <td>{{ assistent.user.phone_number }}</td>
                        {% if assistent.user.is_active %}
                        <td><span class="badge text-bg-success">Actief</span></td>
                        {% else %}
                        <td><span class="badge text-bg-danger">Niet Actief</span></td>
                        {% endif %}
                        <td>
                           <a href="{% url 'edit_userprofile_admin' assistent.user.id %}" aria-label="Edit">
                              <i class="fas fa-edit"></i>
                           </a>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <!-- /Account -->
         </div>
      </div>
   </div>
</div>
<!-- / Content -->
<div class="row">
   <div class="col-lg-12">
      {% include 'includes/alerts.html' %}
   </div>
</div>
{% endblock %}
