<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'edit_userprofile_admin' %}active{% endif %}"
           href="{% url 'edit_userprofile_admin' user_id %}">
            <i class="fas fa-user"></i>&nbsp;&nbsp; Persoonsgegevens
        </a>
    </li>
    {% if gebruiker.role == 1 %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'edit_companyprofile_assistent_admin' %}active{% endif %}"
           href="{% url 'edit_companyprofile_assistent_admin' assistent_id %}">
            <i class="fas fa-building"></i>&nbsp;&nbsp; Bedrijfsgegevens
        </a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'edit_companyprofile_apotheek_admin' %}active{% endif %}"
           href="{% url 'edit_companyprofile_apotheek_admin' apotheek_id %}">
            <i class="fas fa-building"></i>&nbsp;&nbsp; Bedrijfsgegevens
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'overview_link_assistent_apotheek_admin' %}active{% endif %}"
           href="{% url 'overview_link_assistent_apotheek_admin' user_id %}">
            {% if gebruiker.role == 1 %}
            <i class="fas fa-medkit"></i></i>&nbsp;&nbsp; Verbonden Apotheken
            {% else %}
            <i class="fas fa-medkit"></i></i>&nbsp;&nbsp; Verbonden Assistenten
            {% endif %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'overview_events_admin' %}active{% endif %}"
           href="{% url 'overview_events_admin' user_id %}">
            <i class="fas fa-briefcase"></i></i>&nbsp;&nbsp; Prestaties
        </a>
    </li>
    {% if gebruiker.role == 1 %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'overview_facturen_assistent_admin' %}active{% endif %}"
           href="{% url 'overview_facturen_assistent_admin' user_id %}">
            <i class="fas fa-receipt"></i>&nbsp;&nbsp; Facturen
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'change_password_user' %}active{% endif %}"
           href="{% url 'change_password_user' user_id %}">
            <i class="fas fa-key"></i>&nbsp;&nbsp; Wijzig wachtwoord
        </a>
    </li>
</ul>
