{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      {% if user.role == 3 %}
      <div class="row">
          <div class="col-lg-6 mb-4 order-0">
              <div class="card custom-card {% if has_declined_events_of_assistenten %}bg-danger text-white{% endif %}">
                  <div class="d-flex align-items-end row">
                      <div class="card-body">
                          <h5 class="card-title {% if has_declined_events_of_assistenten %}text-white{% endif %}">
                              Aantal geweigerde events door assistenten
                          </h5>
                          <p class="mb-4">
                              <span class="fw-bold custom-number">{{ geweigerde_events_door_assistenten }}</span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mb-4 order-0">
              <div class="card custom-card {% if has_declined_events_of_apotheken %}bg-danger text-white{% endif %}">
                  <div class="d-flex align-items-end row">
                      <div class="card-body">
                          <h5 class="card-title {% if has_declined_events_of_apotheken %}text-white{% endif %}">
                              Aantal geweigerde events door apotheken
                          </h5>
                          <p class="mb-4">
                              <span class="fw-bold custom-number">{{ geweigerde_events_door_apotheken }}</span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 mb-4 order-0">
              <div class="card custom-card">
                  <div class="d-flex align-items-end row">
                      <div class="card-body">
                          <h5 class="card-title">
                              Bedrag openstaande facturen door assistenten
                          </h5>
                          <p class="mb-4">
                              <span class="fw-bold custom-number">€ {{ unpaid_invoices_by_assistenten_sum }}</span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-4 order-0">
              <div class="card custom-card">
                  <div class="d-flex align-items-end row">
                      <div class="card-body">
                          <h5 class="card-title">
                              Bedrag openstaande facturen door apotheekhulp
                          </h5>
                          <p class="mb-4">
                              <span class="fw-bold custom-number">€ {{ unpaid_invoices_by_apotheken_sum }}</span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-4 order-0">
              <div class="card custom-card {% if has_declined_events_of_apotheken %}bg-danger text-white{% endif %}">
                  <div class="d-flex align-items-end row">
                      <div class="card-body">
                          <h5 class="card-title {% if has_declined_events_of_apotheken %}text-white{% else %}text-primary{% endif %}">
                              Aantal geweigerde events door apotheken
                          </h5>
                          <p class="mb-4">
                              <span class="fw-bold custom-number">{{ geweigerde_events_door_apotheken }}</span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
  </div>
  <!-- / Content -->
  <!-- / Content -->
<div class="row">
   <div class="col-lg-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
      {% include 'includes/alerts.html' %}
   </div>
</div>
</div>
  {% endblock %}